.menuCard {
    width: 100%;
}

.menuCard-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
    position: relative;
    overflow: hidden;
}

.menuCard-header-background {
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.75;
    background-color: black;
}

.menuCard-header-title {
    width: fit-content;
    margin: 2% auto;
    font-size: 3rem;
    color: var(--text-color);
    z-index: 2;
}

.menuCard-header-text {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    z-index: 2;
}

.menuCard-items {
    width: 70%;
    padding: 6% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    margin: auto;
    min-height: 35vh;
}

.menuCard-item {
    width: 45%;
    margin-bottom: 2%;
}

.menuCard-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color);
    margin: 1% 0;
}

.menuCard-item-head p {
    color: var(--text-color);
    font-size: 1.1rem;
}

.menuCard-item-desc {
    color: var(--text-color);
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .menuCard-header-title {
        margin: 5% auto;
        font-size: 2.3rem;
    }
    .menuCard-header-text {
        width: 80%;
        font-size: 0.9rem;
    }
    .menuCard-items {
        width: 80%;
        padding: 6% 0%;
        gap: 5%;
        flex-direction: column;
    }
    .menuCard-item {
        width: 100%;
        margin-bottom: 5%;
    }
    .menuCard-item-head p {
        font-size: 1rem;
    }
    .menuCard-item-desc {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .menuCard-header-title {
        margin: 4% auto;
        font-size: 2.7rem;
    }
    .menuCard-header-text {
        width: 75%;
        font-size: 1.1rem;
    }
    .menuCard-items {
        width: 85%;
        padding: 6% 0%;
    }
    .menuCard-item-head p {
        font-size: 1rem;
    }
    
    .menuCard-item-desc {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .menuCard-header-title {
        margin: 3% auto;
        font-size: 2.8rem;
    }
    .menuCard-header-text {
        width: 70%;
        font-size: 1.1rem;
    }
    .menuCard-items {
        width: 80%;
        padding: 6% 0%;
        gap: 3%;
    }
    .menuCard-item-head p {
        font-size: 1rem;
    }
    
    .menuCard-item-desc {
        font-size: 0.9rem;
    }
}