/* .nameDrink{
    width: 29%;
    margin: 1vh auto;
    padding: 1vh 2vw;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
} */

.drinkName {
    width: 29%;
    min-height: 50vh;
    padding: 1%;
    margin: 1%;
    border-radius: 5%;
}

.drinkName:hover{
    cursor: pointer;
    /* transform: scale(2); */
}

.drinkState {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drinkName img {
    width: 100%;
    background-size: cover;
    border-radius: 5%;
}

.drinkName p {
    font-size: 1.5rem;
}

/* ---------------Info button--------------------- */

.drinkNameLook {
    width: 29%;
    min-height: 50vh;
    padding: 1% 2%;
    margin: 1%;
    transform: scale(1.4, 1);
    background-color: #888;
    border: #555 .1rem solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drinkNameLook:hover {
    cursor: pointer;
}

.drinkStateLook {
    width: 100%;
    margin: auto;
}

.drinkStateTitle {
    font-size: 2rem;
    padding: .5vh 0;
    width: 100%;
    text-align: center;
}

.drinkStateIngs {
    width: 100%;
    padding: 1vh 0;
}

.drinkStateIngs p {
    width: 100%;
    font-size: 1.4rem;
}

.drinkStateIng {
    width: 100%;
    font-size: 1rem;
    list-style-type: none;
    line-height: 3vh;
}

.drinkStateInstr {
    font-size: 1rem;
    line-height: 3vh;
}