#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#app-info {
    width: 20%;
    padding: 2%;
    margin-right: 5%;
}

#app-info p {
    color: var(--text-color);
    margin-bottom: 5%;
}

#app-text {
    font-size: 1.5rem;
    font-weight: bold;
}

#app-sub-text {
    font-size: 1.1rem;
}

#app-name {
    font-size: 1.6rem;
    color: var(--accent-color);
}

#app-info-icons {
    width: 100%;
    display: flex;
    gap: 2%;
}

.app-info-icon {
    width: 35%;
    transition: all 0.5s ease-in-out;
}

.app-info-icon:hover {
    cursor: pointer;
}

#app-info-icons img {
    width: 100%;
}

#app-image {
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: phoneHover 10s ease-in infinite;
}

@keyframes phoneHover {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-0.5%);
    }
    20% {
        transform: translateY(-1%);
    }
    25% {
        transform: translateY(-1.5%);
    }
    30% {
        transform: translateY(-1%);
    }
    40% {
        transform: translateY(-0.5%);
    }
    50% {
        transform: translateY(0%);
    }
    60% {
        transform: translateY(0.5%);
    }
    70% {
        transform: translateY(1%);
    }
    75% {
        transform: translateY(1.5%);
    }
    80% {
        transform: translateY(1%);
    }
    90% {
        transform: translateY(0.5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 500px) {
    #app-info {
        width: 30%;
        margin-right: 2%;
    }
    #app-info p {
        font-size: 1.1rem;
        margin-bottom: 10%;
    }
    #app-name {
        font-size: 1.4rem;
    }
    #app-sub-text {
        font-size: 1rem !important;
    }
    #app-info-icons {
        flex-direction: column;
    }
    #app-info-icons img {
        width: 70%;
    }
    #app-image {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #app-info-icons img {
        width: 40%;
    }
}
