#about {
    width: 80%;
    margin: auto;
    margin-bottom: 30vh;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: var(--textColor);
    background-color: black;
    border-radius: 40px;
    border: 1px solid var(--secondaryBack)
}

#aboutTitle {
    font-size: 2rem;
    padding: 2vh 0;
}

#aboutSlogen{
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    line-height: 120%;
}

#aboutDesc {
    width: 70%;
    text-align: center;
    padding: 1vh 0;
}