#drinks {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drinkTitle {
    width: fit-content;
    font-size: 2rem;
    padding: 2vh 0;
}

#drinkSearch {
    width: 80%;
    display: flex;
}

#searchType {
    width: 15%;
    padding: 1vh 1vw;
    font-size: 1rem;
    border-radius: 1vw 0  0 1vw;
}

#searchType:hover {
    cursor: pointer;
}

#searchType .op {
    border-radius: 1vw 0 0 1vw;
    cursor: pointer;
}

#searchInput {
    width: 70%;
    padding: 1vh 1vw;
    font-size: 1rem;
    border-radius: 0 1vw 1vw 0;
}

#searchButton {
    width: 14%;
    margin-left: 1%;
    border-radius: 1vw;
}