* {
    padding: 0;
    margin: 0;
}

:root {
    /* old purple: #57256F */
    --secondaryBack: #520909;
    --textColor: white;
    --lightRed: #ae0000;

    --text-color: #decbb7;
    --main-color: #011627;
    --secondary-color: #841c26;
    --accent-color: #537d8d;

    --custom-font: 'Barlow';
}

body {
    background-color: #e5e5f7;
    /* red: #650707  */
    /* light purple: #5F1B81 */
    /* dark purple:  #3E204D */

    /* background-image: radial-gradient(circle at center center, #520909 , #000), repeating-radial-gradient(circle at center center, #520909 , #520909 , 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply; */

    background-color: var(--main-color);
    /* background-image:  repeating-radial-gradient( circle at 50% 0, transparent 0, #520909 6px ), repeating-linear-gradient( #3B0909, #000 ); */

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}
