#header {
    width: 100%;
    height: 100vh;
    background-image: url("./../../Images/proriat-hospitality-lwoTuByIuC4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}