#header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.header-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-forground {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateY(2%);
}

#header-info-container {
    position: relative;
    z-index: 4;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, var(--main-color), var(--main-color), transparent);
    float: left;
    display: flex;
    align-items: center;
}

#header-info-container p {
    color: var(--text-color);
    margin-left: 20%;
    width: 30%;
    text-wrap: wrap;
    font-size: 1.4rem;
}

.title-text {
    color: var(--accent-color);
    font-size: 1.7rem;
}

@media screen and (max-width: 500px) {
    .header-background {
        width: 200%;
        background-size: cover;
        left: -30%;
    }
    .header-forground {
        width: 200%;
        background-size: cover;
        left: -30%;
    }

    #header-info-container p {
        margin-left: 15%;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 800px) {
    .header-background {
        width: 150%;
        left: -20%;
    }
    .header-forground {
        width: 150%;
        left: -20%;
    }
}

@media screen and (max-width: 1400px) {
    .header-background {
        width: 120%;
        left: -10%;
    }
    .header-forground {
        width: 120%;
        left: -10%;
    }
}