#navbarLinks {
    width:fit-content;
    display: flex;
    float: right;
    margin: 2vh 3vw;
}

#navbarLinks a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 2vh 2vw;
}

#navbarLinks a:hover {
    background-color: #888;
    opacity: .8;
}