#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar p {
    width: 40%;
    font-size: 3rem;
    padding: 4vh 2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbarLinks {
    width:fit-content;
    display: flex;
    margin: 0 2vw;
}

#navbarLinks a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 2vh 2vw;
}

#navbarLinks a:hover {
    background-color: #888;
    opacity: .8;
}