#footer {
    width: 100%;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
}

#footer-name {
    width: 15%;
    max-width: 20%;
}

#footer-logo {
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}

#footer-name-text {
    font-size: 1rem;
    color: var(--text-color)
}

#footer-links {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-link {
    width: 90%;
    margin-bottom: 2%;
    padding: 5%;
    text-align: center;
}

.footer-title {
    width: 90%;
    padding: 0 5% 5% 5%;
    font-weight: bolder;
    font-size: 1.1rem;
    color: var(--text-color);
}

.link {
    width: fit-content;
    font-size: 1rem;
    color: var(--text-color)
}

.link:hover {
    cursor: pointer;
    color: var(--accent-color)
}

#footer-contact {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-contact-info {
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-icon {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 2%;
}

.footer-contact-info p {
    font-size: 1rem;
    color: var(--text-color);
}

#break {
    width: 90%;
    height: 1px;
    background-color: var(--accent-color);
    margin: 2% 0;
}

#footer-bottom {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: 1rem;
}

#footer-socials {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.social-icon {
    width: 10%;
    max-width: 50px;
    max-height: 50px;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: 50%;
    color: var(--text-color);
    border: var(--text-color) solid 2px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
    color: var(--accent-color);
    border-color: var(--accent-color);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
    #footer-top {
        margin: 10% 0% 5% 0% !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    #footer-name {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 4% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 2% !important;
    }
    #footer-logo {
        width: 30% !important;
        margin-bottom: 0% !important;
    }
    #footer-name-text {
        font-size: 0.9rem !important;
        width: 50% !important;
    }
    #footer-links {
        width: 60% !important;
        margin: 5% 0 !important;
    }
    .footer-link {
        margin-bottom: 1% !important;
        padding: 3% !important;
        text-align: center !important;
    }
    #footer-contact {
        width: 60% !important;
    }
    .footer-title {
        padding: 0 5% 3% 5% !important;
    }
    .footer-contact-info {
        padding: 3% !important;
    }

    #footer-bottom {
        width: 80% !important;
        padding: 6% 0 !important;
    }
    #footer-socials {
        width: 30% !important;
    }
    .social-icon {
        width: 100% !important;
        height: 100% !important;
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 500px) {
    .popular-tag {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #footer-top {
        padding-bottom: 5%;
    }
    #footer-name {
        width: 25%;
        max-width: 25%;
    }
    #footer-logo {
        width: 50%;
        margin-bottom: 7%;
    }
    #footer-links {
        width: 15%;
    }
    .link {
        font-size: 0.9rem;
    }
    #footer-contact {
        width: 25%;
    }
    .contact-icon {
        font-size: 1rem;
    }
    .footer-contact-info p {
        font-size: 0.8rem;
        color: var(--text-color);
    }
    #footer-bottom {
        padding: 5% 0;
    }
    #footer-socials {
        width: 30%;
    }
    .social-icon {
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1200px) {
    #footer-name {
        width: 25%;
        max-width: 25%;
    }
    #footer-links {
        width: 15%;
    }
    #footer-contact {
        width: 25%;
    }
    #footer-socials {
        width: 20%;
    }
    .social-icon {
        width: 50%;
        height: 50%;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1600px) {
    #footer-top {
        padding-bottom: 0%;
    }
    #footer-socials {
        width: 8%;
    }
    .social-icon {
        width: 30%;
        height: 30%;
        font-size: 1.2rem;
    }
}