#drinkCard {
    width: 100%;
    /* min-width: 100px; */
    /* height: 25vh; */
    border-radius: 6%;
    color: var(--textColor);
}

#nameImg {
    width: 100%;
}

#nameImg img {
    width: 100%;
    border-radius: 4%;
}

#info {
    /* grid-row: 1;
    grid-column: 2 / 4; */
}

@media screen and (max-width: 500px) {
    
}